<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<title>Página de Cadastro</title>
</head>
<body>

<h1>Cadastro de pessoas</h1>

<br>
	<div th:each="m : ${msg}">
		<span th:text="${m}" style="color: #228B22; font-weight: bold;"></span>
	</div>
<br>

<a href="/listaDeCadastrados">Lista de pessoas cadastradas</a>
<br/>

<form action="/cadastrarpessoa" method="post">

<label>Nome</label>
<input name="nomePessoa" autofocus="autofocus" required="required" />
<br/>

<label>Sobrenome</label>
<input name="sobrenomePessoa" required="required" />
<br/>

<button>Cadastrar</button>

</form>

</body>
</html>